.wrapper{
    display: grid;
    /*grid-template-columns: 70% 30%; */
    grid-template-columns: 1fr 2fr; /*Fractions or percentages are both fine, no px*/
    column-gap: 1em; /*Stes space between columns*/
    row-gap: 1em;
}

.wrapper > div {
    background: #ccc;
    padding: 10px;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}

